<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'blog-base' %}"><img src="{%static 'images/navolino.svg'%}" alt="Navolino"></a>
  <button class="navbar-toggler js_must" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span id="toggle_icon" class="fa fa-angle-down"></span>
  </button>
  <div class="collapse navbar-collapse fast_transition" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"href="{%url 'logout'%}">Logout</a>
      </li>
      <li class="nav-item dropdown js_must">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
{% if user.is_authenticated %}
<div tabindex=0 class="popover__wrapper">
    <img class="nav_img rounded-circle nav_popover" src="{{user.image.url}}" alt="Profile">
    <div class="popover__content">
      <ul class="list-group">  
        <li tabindex=0><a class="list-group-item list-group-item-action" tabindex=-1 href="{% url 'private_profile'%}">Public</a></li>
        <li tabindex=0><a class="list-group-item list-group-item-action" tabindex=-1 href="{% url 'private_profile'%}">Private</a></li>
        <li tabindex=0><a class="list-group-item list-group-item-action" tabindex=-1 href="{% url 'logout'%}">Logout</a></li>
      </ul>
    </div>
  </div>

{% else %}
  <div class="popover__wrapper">
    <i tabindex=0 class="fa fa-user-circle-o nav_popover" aria-hidden="true"></i>
    <div class="popover__content">
      <ul class="list-group">  
        <li tabindex=0><a class = "list-group-item list-group-item-action" tabindex=-1 href="{% url 'register'%}">Register</a></li>
        <li tabindex=0><a class="list-group-item list-group-item-action" tabindex=-1 href="{% url 'login'%}">Login</a></li>
      </ul>
    </div>
  </div>
{% endif %}
</nav>