<div class = "container" id = "noscript" style = "display:block">
	<noscript>
		<div>
		<span><h4>You must enable JavaScript in your browser to {{action}}:</h4></span>
		<span class="d-flex justify-content-center"><i>Once you've done so, if you still see this message, please refresh the page.</i></span>		
		</div>
		
		<ul id = "enable_javascript" >
			<li> <b>Chrome:</b> </li>
				<ol>
					<li>Enter <code tabindex="-1">chrome://settings/content/javascript</code> in address bar.</li>
					<li> Toggle 'Blocked'.</li>
				</ol>
			<li> <b>Firefox:</b> </li>
				<ol>
					<li>Enter <code tabindex="-1">about:config</code> in address bar.</li>	
					<li>Click 'Accept the Risk and Continue'</li>
					<li>Enter <code tabindex="-1">javascript.enabled</code> in search bar.</li>
					<li>Toggle preference.</li>
				</ol>
			<li> <b>Edge:</b> </li>
				<ol>
					<li>Enter <code tabindex="-1">edge://settings/content/javascript</code> in address bar.</li>
					<li> Toggle 'Allowed'.</li>
				</ol>
			<li> <b>Opera:</b> </li>
				<ol>
					<li>Enter <code tabindex="-1">opera://settings/content/javascript</code> in address bar.</li>
					<li> Toggle 'Allowed'.</li>
				</ol>
		</ul>
	</noscript>
</div>