/*error messages below input*/
.primary_form .error
{
  color:white;
  background-color: #b30000;
  text-align:center;
  width:350px;
  font-size:12px;
  padding:2px;
  border-radius: 0px 0px 5px 5px;
}