{% extends "base.html" %}

{% block content %}
<main>
	{{object_list}}
    <section>
	<div class="container">
	    <h1>{{category}} items</h1>
	    <p>{{category.description}}.</p>
	</div>
    </section>

	<div>
		{% for item in object_list%}
		<div>
		    <a href="{%url 'post-detail'  item.pk item.slug %}">
				<p>{{item}}</p> 
		    </a>
		</div>
		{% endfor %}

	{% if is_paginated %}
	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">next</a>
				<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
	{% endif %}

    </div>
</main>
{% endblock %}




{% block breadcrumbs %}{% include "_breadcrumbs.html" with ancestors=category.get_ancestors object=category%}{% endblock breadcrumbs %}
