.alert
{
  width:100%;
  text-align:center;
}

.primary_form
{
  background-color:white;
  width:900px;
  overflow:hidden;
}

.primary_form input
{
  width:350px;
  margin-top:10px;
  border-radius: 5px 5px 5px 5px;
  outline:none;

}

/*remove eye icon on MS*/
.primary_form input[type=password]::-ms-reveal,
.primary_form input[type=password]::-ms-clear
{
    display: none;
}

/*error messages below input*/
.primary_form .error
{
  color:white;
  background-color: #b30000;
  text-align:center;
  width:350px;
  font-size:12px;
  padding:2px;
  border-radius: 0px 0px 5px 5px;
}

#password_toggle:hover
{
  cursor:pointer;
  text-decoration: underline;
}


.btn-primary:enabled
{
width:150px;
}


.form_legend
{
  border-bottom: 1px solid gray;
}
#non_field_error .error
{
  font-size:15px;
  border-radius:5px 5px 5px 5px;
  padding:5px;
}
#recaptcha_v2
{
  padding-bottom: 5px;
}
/*automatically select all code on click, then to normal*/
code
{
  background-color: #d4d3d1;
  border-color:#d4d3d1;
  color:black;
  white-space: nowrap;
  -webkit-user-select: all; /* for Safari */
  user-select: all;
  -webkit-appearance: none;
}
code:focus
{
  animation: select 100ms step-end forwards;
}
@keyframes select
{
  to
  {
    -webkit-user-select: text;
    user-select: text;
  }
}
.help
{
    font-size: 12px;
    color: gray;

}
/*buttons*/
.btn-primary:enabled:hover{
  background-color: #1a75ff;
  color:white;
}
.btn.btn-primary:disabled
{
    background-color: #5f788a;
    border-color:#5f788a;
    cursor: not-allowed;
}
.btn.btn-primary{
    background-color: #3385ff;
    color:white;
    border-color:#4d94ff;
}
input:disabled{
  cursor: not-allowed;
}
input::placeholder {
  text-align: center; 
} 
input:focus::placeholder
{
  text-align:left;
}
/*enable javascript message*/
#noscript h4
{
  color:red;
  text-decoration: underline;
}
#noscript span
{
  text-align:center;
}
#enable_javascript{
  width: 600px;
  margin-left:auto;
  margin-right:auto;  
}

@media only screen and (max-width: 600px) {
  #enable_javascript {
    width: 100%;
  }
}
body{
  background-color: white;
}
.separate::after
{
content:" | ";
}

.fast_transition {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}

