
#register_form input
{
  outline:none;
  color:red;
}
/*shift the button when form complete*/
#register_form .btn-primary:enabled{
    margin-left: 25px;
    
}
/*when field is valid on change jquery*/
#register_form .field_valid
{
  color:black;
  background-color: white;
  text-align:left;
  width:320px;
  border-radius: 0px 0px 0px 0px;
  font-weight:bold;
  border-width:1px;
  border-style:none none solid none;
}
#register_form .field_valid:focus
{
  border-width:2px;
}
/*green checkmark after valid field onchange jquery*/
#register_form .validate_symbol
{
  color:green;
  font-size:25px; 
}
/*when register input has error*/
#register_form .field_invalid, 
#register_form .field_invalid:focus
{
  background-color: #ffcccc;
  border: 2px solid #b30000;
  border-radius: 5px 5px 0px 0px;
  width:350px;
}
/*error messages below input*/
#register_form .error
{
  color:white;
  background-color: #b30000;
  text-align:center;
  width:350px;
  font-size:12px;
  padding:2px;
  border-radius: 0px 0px 5px 5px;
}
/*show/hide password element*/
#password_toggle
{
    margin-left:25px;
    cursor: pointer;
    font-size:8px;
    position:absolute;
    text-align:left;
}
#form_details
{
  color:black;
  font-size:15px;
  width:350px;
}
#form_details ul
{
  list-style-type: none;
}

#form_details ol
{
  list-style-type: circle;
}
#register_form summary 
{
  outline:none;
  text-align:center;
  font-size:small;
}
#register_form summary::-webkit-details-marker {
  color: black;
}