<div class="container">
  <form id="login_form" class="primary_form" method="POST">{%csrf_token%}
    <input type="hidden" name="g-recaptcha-response" id='recaptcha_v3'>
    <fieldset class="form-group">
      <legend class="form_legend p-2">
        <span>Login Form</span>
        <div>
          <details class="form_details">
            <summary>Guidelines</summary>{% include "users/_login_form_guidelines.html" %}
          </details>
        </div>
      </legend>
      <div id="non_field_error">{{ form.non_field_errors }}</div>
      {% for field in form %}{% if field.field.required %}
      <div class="form-group required">{% else %}
      <div class="form-group">{% endif %}
      	<div class="">
	      <div class="help">{{ field.label_tag }}</div>
	    </div>
        <div class= "field_div">
          <span style="display:none" class="validate_symbol" aria-live="polite">&#10003;</span>
          {{ field }}{% if 'password' in field.field.widget.attrs.class %}
          <span class="fa fa-eye js-must password_toggle"></span>{% endif %}
        </div>
        <div class="errorlist">
          <div style = "display:none" class="error" aria-live="polite">
            <i class="fa fa-exclamation-triangle"></i>
            &nbsp;
            <span></span>
          </div>
        </div>
        {{field.errors}}
      </div>{% endfor %}
      <div class="form-group">
      	<div class="g-recaptcha d-flex justify-content-center" id="recaptcha_v2" style = "display:none"></div>
      	<div class="mb-1 d-flex justify-content-center">
      	  <div class="mb-1 link_flow">By logging in, you acknowledge the <a href="">terms</a> and <a href="#">privacy policy.</a>
          </div>
        </div>
      	<button id="submit_primary"class="btn btn-primary" type="submit">Login</button>
      </div>
    </fieldset>
    <div class="d-flex justify-content-center">	
      <div class="link_flow row">	
        <i class="p-1">New accounts: <a href="{%url 'register'%}">Register</a></i>
	      <i class="p-1"> Forgotten credentials: <a href="{%url 'password_reset'%}">Reset Password</a></i>
      </div>
    </div>
  </form>
</div>


