<ul class="pt-2">	
<li><b>You may be unable to login if:</b></li>
<ol>
<li>Your account is inactive due to an unconfirmed email address.</li>
<li>Your account is locked due to failed login attempts.</li>
<li>You are entering your display name. As a security measure, only logins via email are permitted.</li>
</ol>
<!-- <li><b>Email</b></li>
<ol>
<li>Valid, will be used to verify account.</li>
<li>Unique to Navolino users.</li>
</ol>
<li><b>Password</b></li>
<ol>
<li>8 characters minimum.</li>
<li>Not entirely numeric.</li>
<li>Not a commonly used password.</li>
<li>Not too similar to your other info.</li>
</ol> -->
</ul>