<div class="container d-flex justify-content-center">
  <form id="login_form" class = "primary_form" method="POST">
    {%csrf_token%}
	<fieldset class="form-group">
	  <legend class="form_legend p-2">
	    <span class = "d-flex justify-content-center">Set New Password</span>
	  </legend>
	  <div class="form_field">
	  	<div id="non_field_error" class="d-flex justify-content-center">
	    {{ form.non_field_errors }}
	    </div>
	  </div>
	  {% for field in form %}
	  {% if field.field.required %}
	  <div class="form_field required"> 
	  {% else %}
	  <div class="form_field">
	  {% endif %}
	    <div class= "d-flex justify-content-center field_div">
	  {{ field }}
	  	</div>
	  	<div class= "d-flex justify-content-center error_div">
	  	
	  	{% if field.name == 'new_password1' %}
			<div class="help js_must" id="password_toggle">SHOW PASSWORD</div>
		{% endif %}
		</div>
		{{field.errors}}
	  </div>
	  {% endfor %}
	</fieldset>
	<div class="form-group text-center">
		<!-- <div class="g-recaptcha d-flex justify-content-center" id="recaptcha_v2" style = "display:none"> </div> -->
	  <button class="btn btn-primary submit_register" type="submit">Set Password</button>
	  <div class="p-2">
	  	<small class="separate">Forgotten credentials: <a class= "" href="{%url 'password_reset'%}">Reset Password</a></small>
	  	<small>New Accounts: <a class= "" href="{%url 'register'%}">Register</a></small>
	  </div>
	</div>
  </form>
</div>
