<div class="container">
  <form id="request_form" class = "primary_form" method="POST" novalidate>{%csrf_token%}
    <input type="hidden" name="g-recaptcha-response" id='recaptcha_v3'>
    <fieldset class="form-group">
      <legend class="form_legend p-2">
        <span>Reset Your Password</span>
        <!-- <div>
          <details class="form_details">
            <summary>Guidelines</summary>
          </details>
        </div> -->
      </legend>
      <div class="non_field_error">{{ form.non_field_errors }}</div>
      {% for field in form %}{% if field.field.required %}
      <div class="form-group required">{% else %}
      <div class="form-group">{% endif %}
      	<div class="">
	      <div class="help">{{ field.label_tag }}</div>
	    </div>
        <div class= "field_div">
          <span style="display:none" class="validate_symbol" aria-live="polite">&#10003;</span>

          {{ field }}{% if 'password' in field.field.widget.attrs.class %}
          <span class="fa fa-eye js-must password_toggle"></span>{% endif %}
        </div>
        <div class="errorlist">
          <div style = "display:none" class="error" aria-live="polite">
            <i class="fa fa-exclamation-triangle"></i>
            &nbsp;
            <span></span>
          </div>
        </div>
        {{field.errors}}
      </div>{% endfor %}
      <div class="form-group">
      	<div class="g-recaptcha d-flex justify-content-center" id="recaptcha_v2" style = "display:none"></div>
      	<div class="mb-1 d-flex justify-content-center">
      	  <div class="link_flow">As a security measure, your request will take a moment.
          </div>
        </div>
      	<button id="submit_primary" class="btn btn-primary" type="submit">Send Request</button>
      </div>
    </fieldset>
    <div class="d-flex justify-content-center">	
      <div class="row link_flow">	
        <i class="p-1">Use current: <a href="{%url 'login'%}">Login</a></i>
	    <i class="p-1">New accounts: <a href="{%url 'register'%}">Reset Password</a></i>
	  </div>
    </div>
  </form>
</div>































