{% extends "base.html" %}
<!-- Unique CSS -->
{% block head %}
{{ block.super }}

{% endblock head %}

<!-- Unique Content -->
{% block content %}
{{ block.super }}
<div class ="content-section">
	<form method="POST">
	{%csrf_token%}
		<fieldset class = "form-group">
			<legend class = "border-bottom mb-2">Reset Password</legend>
			{{form}}
		</fieldset>
		<div class= "form-group">
		<button class = "" 
		type ="submit">Request New Password</button>
		</div>
	</form>
</div>

{% endblock content %}

<!-- Unique Scripts -->
{% block scripts %}
{{ block.super }}

{% endblock scripts %}


{% block breadcrumbs %}{% endblock breadcrumbs %}
