{% extends "base.html" %}
<!-- Unique CSS -->
{% block head %}
{{ block.super }}
{% endblock head %}

<!-- Unique Content -->
{% block content %}
{{ block.super }}
{% include "users/_password_reset_confirm_form.html" %}
{% endblock content %}

<!-- Unique Scripts -->
{% block scripts %}
{{ block.super }}
<script src="{%static 'users/js/primary_form.js'%}"></script>
<script src="{%static 'users/js/new_password.js'%}"></script>
{% endblock scripts %}

{% block breadcrumbs %}{% endblock breadcrumbs %}
