{% extends "base.html" %}
<!-- Unique CSS -->
{% block head %}
{{ block.super }}

{% endblock head %}

<!-- Unique Content -->
{% block content %}
{{ block.super }}
<div class ="">
	<form method="POST">
	{%csrf_token%}
		<fieldset class = "form-group">
			<legend class = "">Reset Password</legend>
			{{form}}
		</fieldset>
		<div class= "form-group">
			<button class = "" 
			type ="submit">Reset Password</button>
		</div>
	</form>
</div>
{% endblock content %}

<!-- Unique Scripts -->
{% block scripts %}
{{ block.super }}

{% endblock scripts %}


{% block breadcrumbs %}{% endblock breadcrumbs %}
