{% extends "base.html" %}
<!-- Unique CSS -->
{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{%static 'users/css/profile.css'%}">
{% endblock head %}

<!-- Unique Content -->
{% block content %}
{{ block.super }}
{% include 'users/profile_form.html'%}
{% endblock content %}

<!-- Unique Scripts -->
{% block scripts %}
{{ block.super }}
<script src="{%static 'users/js/primary_form.js'%}"></script>
<script src="{%static 'users/js/profile.js'%}"></script>

{% endblock scripts %}


{% block breadcrumbs %}{% endblock breadcrumbs %}
