<div class="error">
    <form id="recaptcha_form"> 
        <fieldset class="form-group error">
            <legend class="form_legend error">Create Account</legend>
            <div class="form_field"> 
                <span class="validate_symbol">&#10007;</span>
                <input type="text" class="register_field" id="id_username">
            </div>
                <div style = "display:none" class="error" aria-live="polite"></div>
            
            <div class="d-flex justify-content-end"> 
                <span class="validate_symbol">&#10007;</span>
                <input type="text" class="register_field"id="id_username">
                <div class="error" aria-live="polite"></div>
            </div>
            <div class="form_field"> 
                <span class="validate_symbol" >&#10007;</span>
                <input type="text" class="register_field"id="id_username">
                <i id="password_toggle">SHOW</i>
                <div class="error" ></div>
            </div>
        </fieldset>
    </form>
</div>